header {
  background-color: red;
}

a {
 text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
}

.btn-signin {
  background-color: white;
  color: red;
}

.collapse-nav {
  background-color: white;
}

.nav-links {
  color: black;
}

.nav-links:hover {
  color: Red;
}

.stories {
  background-color: white;
  height: 600px;
  -ms-overflow-style: none;
}

.stories::-webkit-scrollbar {
  display: none;
  }

.heading-clr {
  color: rgba(3, 3, 3, .4);
}

.card-title a {
  color: black;
}

.card {
  border: none;
}
.col1 {
  height: 1400px;
  overflow: scroll;
}

.col1::-webkit-scrollbar {
  display: none;
}

.col2 {
  height: 1400px;
  overflow: scroll;
}

.col2::-webkit-scrollbar {
  display: none;
}

.col3 {
  height: 1400px;
  overflow: scroll;
}

.col3::-webkit-scrollbar {
  display: none;
}

.label-card {
  background-color: white;
  bottom: 0;
  color: red;
  font-weight: bold;
  padding: 6px 5px 6px 5px;
}

.card-imge {
  position: relative;
}

.opinion-img {
  height: 25%;
  width: 35%;
}

a aside {
  color: rgb(20, 19, 19);
}

a aside:hover {
  color: red;
}

.text-alin {
  top: 1;
}

.opinion-img2 {
  width: 50%;
}

.btn-style {
  background-color: #666;
}

.btn-style:hover {
  background-color: #999;
}

.labels {
  margin: 0 auto;
}

.btn-label {
  background-color: rgb(91, 97, 97);
  color: black;
}

.btn-label:hover {
  background-color: rgb(66, 66, 66);
}

.mag-book {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
}

.title-magzine {
  margin: 0 auto;
}

.mag-img {
  width: 100%;
  height: 100%;
}

.bg-red {
  background-color: red;
}

.text-red {
  color: red;
}

.border-img {
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  margin-bottom: 3px;
}

.newscastle {
  margin-top: -31px;
}

.newscastle-img {
  height: 100%;
  width: 121%;
}

.footer-cr {
  margin-top: 20px;
  padding-left: 10px;
}

.icons {
  font-size: xx-large;
  margin-top: -45px;
  text-align: right;
}

.br-left {
  border-left: 1px solid rgb(177, 173, 169);
}

@media screen and (max-width: 450px) {
    .text-fnt {
      font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    .collapse-nav {
      display: none;
    }
}
