header {
  background-color: red;
}

header img {
  margin-left: 93px;
}

.onethird-width {
  width: 30%;
}

a {
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.hamburger {
  display: none;
}

.overflow-hide {
  overflow: hidden;
}

.stick {
  background-color: red;
  position: sticky;
  top: 0;
  z-index: 1;
}

.btn-clr {
  background-color: #c2d4d7;
  color: black;
  padding: 5px;
}

.sumary-color {
  color: rgba(83, 74, 74, 0.5);
}

.img-height {
  height: 300px;
}

.btn-clr:hover {
  background-color: black;
  color: white;
}

.btn-signin {
  background-color: white;
  color: red;
}

.collapse-nav {
  background-color: white;
}

.nav-links {
  color: black;
}

.nav-links:hover {
  color: Red;
}

.stories {
  background-color: white;
  height: auto;
  -ms-overflow-style: none;
}

.stories::-webkit-scrollbar {
  display: none;
}

.heading-clr {
  color: black;
}

.card-title a {
  color: black;
}

.card {
  border: none;
}

.col1 {
  height: auto;
}

.col2 {
  height: 1766px;
  overflow: scroll;
  scrollbar-width: none;
}

.col2::-webkit-scrollbar {
   width: 0; 
}

.col3 {
  height: inherit;
}

.label-card {
  background-color: white;
  bottom: 0;
  color: red;
  font-weight: bold;
  padding: 6px 5px 6px 5px;
}

.card-imge {
  position: relative;
}

a aside {
  color: rgb(20, 19, 19);
}

a aside:hover {
  color: red;
}

.text-alin {
  top: 1;
}

.opinion-img2 {
  width: 20%;
}

.height-newscatle {
  height: 228px;
}

.btn-style {
  background-color: #666;
}

.btn-style:hover {
  background-color: #999;
}

.labels {
  margin: 0 auto;
}

.btn-label {
  background-color: rgb(91, 97, 97);
  color: black;
}

.btn-label:hover {
  background-color: rgb(66, 66, 66);
}

.mag-book {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
}

.title-magzine {
  margin: 0 auto;
}

.mag-img {
  width: 100%;
  height: 100%;
}

.bg-red {
  background-color: red;
}

.text-red {
  color: red;
}

.border-img {
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  margin-bottom: 3px;
}

.newscastle {
  bottom: 58px;
}

.newscastle-img {
  height: 100%;
  overflow: hidden;
  width: 233%;
}

.low-font {
  font-size: 13px;
}

.max-padding-left {
  overflow: hidden;
  padding-left: 1rem;
}

.footer-cr {
  margin-top: 20px;
  padding-left: 10px;
}

.icons {
  font-size: xx-large;
  margin-top: -45px;
  text-align: right;
}

.br-left {
  border-left: 1px solid rgb(177, 173, 169);
}

@media screen and (max-width: 450px) {
  header img {
    margin-left: 0;
  }

  .text-fnt {
    font-size: 14px;
  }

  .hamburger {
    display: inherit;
    color: white;
  }

  .newscastle {
    bottom: 0;
  }
}

.opinion-img {
  height: 35%;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.marginright {
  margin-right: 10px;
}

.date-hide {
  display: initial;
}

h2 {
  font-size: 1.7rem;
}

.overlapimg {
  margin-left: -63px;
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 950px) {
  .date-hide {
    display: none;
  }

  .logo-float {
    left: -90px;
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 650px) {
  .stories {
    height: auto;
  }
}

@media screen and (max-width: 1230px) {
  .collapse-nav {
    display: none;
  }

  .hamburger {
    display: inherit;
    color: white;
  }
}

@media screen and (max-width: 1400px) {
  .max-padding-left {
    padding-left: 1rem;
  }
}
