header{
    background-color: red;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: unset;
}

.btn-signin{
    background-color: white;
    color: red;
}

.collapse-nav{
    background-color: white;
}

.nav-links{
    color: black;
}

.nav-links:hover{
    color: Red;
}

.stories{
    background-color: white;
    height: 600px;
    -ms-overflow-style: none;
}

.stories::-webkit-scrollbar {
    display: none;
  }

.heading-clr{
    color: rgba(3,3,3,.4);
}

.card-title a{
    color: black;
}

.card{
    border: none;
}

@media screen and (max-width: 450px) {
    .text-fnt{
        font-size: 14px;
    }
}

@media screen and (max-width: 700px){
    .collapse-nav{
        display: none;
    }
}